
{% block message %}
	{{ include('common/_messages.html.twig') }}
{% endblock %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        <div class="row align-items-center mb-1">
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.cemetery, { 'attr': 
                    { 'class' : 'form-select form-select-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.code, { 'attr': { 'class' : 'form-control form-control-sm' } }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.description, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.years, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.type, { 'attr': 
                    { 'class' : 'form-select form-select-sm' }
                }) }}
            </div>
        </div>
        <div class="row align-items-center mb-1">
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.capacity, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            {% if not new %}
                <div class="col-lg-1 col-md-2 col-sm-6">
                    {{ form_row(form.occupation, { 'attr': 
                        { 'class' : 'form-control form-control-sm' }
                    }) }}
                </div>
                <div class="col-lg-1 col-md-2 col-sm-6">
                    {{ form_row(form.free) }}
                </div>
            {% endif %}
        </div>
        <div class="row mt-2 mb-5 justify-content-center">
            {% if readonly == false %}
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">{{ 'btn.save' | trans }}</button>
                </div>
            {% endif %}
            <div class="col-auto">
                <a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('grave_index') }}" class="btn btn-secondary">{{ 'btn.cancel' | trans }}</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
