{% if graves is defined and graves|length > 0 %}
<div  {{ stimulus_controller('entity', {
         'entitySaveUrl': path('grave_new'),
		})}}>
   <table class="table"
      data-toggle="table"
      data-table-target="table"
      data-page-number="{{ page }}" 
      data-page-size="{{ pageSize }}"
      data-page-sortName="{{ sortName }}"
      data-page-sortOrder="{{ sortOrder }}">
      <thead>
         <tr>
            <th data-sortable="true">{{ 'Id' | trans }}</th>
            <th data-sortable="true">{{ 'grave.code' | trans }}</th>
            <th data-sortable="true">{{ 'grave.years' | trans }}</th>
            <th data-sortable="true">{{ 'grave.free' | trans }}</th>
            <th data-sortable="true">{{ 'grave.cemetery' | trans }}</th>
            <th data-sortable="true">{{ 'grave.type' | trans }}</th>
            <th data-sortable="true" data-field="options">{{"table.options" | trans }}</th>
         </tr>
      </thead>
      <tbody>
         {% for grave in graves %}
            <tr>
                  <td>{{ grave.id }}</td>
                  <td>{{ grave.code }}</td>
                  <td>{{ grave.years }}</td>
                  <td>{{ grave.free ? 'label.yes' | trans  : 'label.no' | trans }}</td>
                  <td>{{ grave.cemetery }}</td>
                  <td>{{ grave.type }}</td>
                  <td>
                     <a href="{{ path('grave_show', {'grave': grave.id}) }}" data-action="click->table#onClick" data-pagination="false"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="{{ path('grave_edit', {'grave': grave.id}) }}" data-action="click->table#onClick" data-pagination="false" data-ajax="false"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}'></i></a>&nbsp;
                     <a href="{{ path('grave_delete', {'grave': grave.id}) }}" data-token="{{ csrf_token('delete' ~ grave.id) }}"
                        data-action="click->entity#delete" 
                        data-token="{{ csrf_token('delete' ~ grave.id) }}">
                        <i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i>
                     </a>&nbsp;
                  </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% else %}
   <div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
{% endif %}
<span class="pull-right">
   <a href="{{ path('grave_new') }}" class="btn btn-primary rounded-circle fixed-bottom-right z-index-100">
      <i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
   </a>
</span>
{{ include('common/_alert.html.twig') }}
</div>