{% block message %}
	{{ include('common/_messages.html.twig') }}
{% endblock %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <div {{ stimulus_controller('owner-form')}}>
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.isCollective,{ 'attr': 
                    { 'data-action' : 'owner-form#onToggle' }
                }) }}
            </div>
        </div>
        <div class="row align-items-center" data-owner-form-target="dniRow">
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.dni, { 'attr': { 'class' : 'form-control form-control-sm' } }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.name, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.surname1, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.surname2, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.telephone, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.email, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            {# <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.expedientNumber, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6">
                {{ form_row(form.registrationNumber, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }} 
            </div>#}
        </div>
        <div class="row d-none" data-owner-form-target="fullNameRow">
            <div class="col-lg-4 col-md-2 col-sm-6">
                {{ form_row(form.fullname, { 'attr': 
                    { 'class' : 'form-control form-control-sm' }
                }) }}
            </div>
        </div>
        <div class="row mt-2 mb-5 justify-content-center">
            {% if readonly == false %}
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">{{ 'btn.save' | trans }}</button>
                </div>
            {% endif %}
            <div class="col-auto">
                <a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('owner_index') }}" class="btn btn-secondary">{{ 'btn.cancel' | trans }}</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
